/* You can add global styles to this file, and also import other style files */

@import "../src/assets/styles/material-theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-container {
  height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;

  p {
    font-size: x-large;
    color: gray;
    padding-top: 15px;
  }
}
