<div class="app-container" [class.app-is-mobile]="device.includes('HandsetPortrait')" (touchstart)="onTouch($event)">
  <app-header class="app-header"></app-header>

  <mat-sidenav-container class="app-navbar-container"
    [style.marginTop.px]="device.includes('HandsetPortrait') ? 56 : 0">

    <mat-sidenav #navbar [mode]="navbarMode" [(opened)]="navbarOpened" (closed)="closeNavbar()"
      [fixedInViewport]="device.includes('HandsetPortrait')" fixedTopGap="56" [autoFocus]="false">
      <app-navbar (navItemSelected)="navbarMode === 'over' ? navbar.close() : null">
      </app-navbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
